<div align="left">

  <b>Listagem de Estudantes</b>
  <br>
  <button pButton type="button" [routerLink]="['/estudantes/novo']">Novo</button>
  <br><br>
  <table border="1" bordercolor="blue">
    <tr>
      <!-- <td> -->
        <!-- <b>Id</b> -->
      <!-- </td> -->
      <td align="center">
        <b>Nome do Estudante</b>
      </td>
	  <td align="center">
        <b>E-mail</b>
      </td>
      <td align="center" width="200px" frame="void" colspan="2">
        <b>Área de interesse em TI</b>
      </td>
    </tr>
    <tr *ngFor="let estudante of estudantees">
      <!-- <td align="center" frame="void">{{ estudante.id }}</td> -->
      <td align="center" frame="void">{{ estudante.nome }}</td>
      <td align="center" frame="void">{{ estudante.email }}</td>
	  <td align="center" frame="void">{{ estudante.areaTi }}</td>
      <td align="center" frame="void">
        <button type="button" (click)="viewEstudante(estudante)">Detalhar</button> 
		
      </td>
    </tr>
  </table>

</div>