<table align="center" >

<b>Cadastrar Novo Estudante de TI</b>
<br>
<br>

<div>
    <!-- <b>Nome:</b> -->
    <br>
    <input type="text" placeholder="Nome completo" [(ngModel)]="estudante.nome" />
</div>
<div>
    <!-- <b>Email:</b> -->
    <br>
    <input type="text" placeholder="E-mail" [(ngModel)]="estudante.email" />
</div>

<div>
<input type="text" pInputText placeholder="Area de interesse em TI" [(ngModel)]="estudante.areaTi" list="area"/>
  <datalist id="area">
		<option value="DevOps"></option>
		<option value="Desenvolvedor"></option>
		<option value="Teste e Qualidade"></option>
		<option value="UX/UI Designer"></option>
  </datalist>
</div>

<div>
    <div>
        <button pButton type="button" (click)="save()">Salvar Estudante</button>
    </div>
	<button pButton type="button" [routerLink]="['/estudantes/']">Voltar</button>
</div>
</table>