<b>Detalhe do Estudante</b>
<br>
<br>
<div>
    <b>Nome:</b>
    <label>{{estudante.nome}}</label>
    <br>
    <b>Área de interesse em TI:</b>
    <label>{{estudante.areaTi}}</label>
    <br>
	<b>Email:</b>
    <label>{{estudante.email}}</label>
    <br>
    <button type="button" (click)="deleteEstudante(estudante)">Excluir</button>
</div>
    <button pButton type="button" [routerLink]="['/estudantes/']">Voltar</button>
<br>
<br>