<table border="1" width="100%" style="height:100%; width:100%;position: absolute; top: 0; bottom: 0; left: 0; right: 0; ">
  
  <tr align="center" height="5%;">
	<td align="center">
		<button pButton type="button" [routerLink]="['/estudantes/']">Início</button>
	</td>
    <td colspan="2" align="center">Banco de Talentos</td>
  </tr>
  
  <tr>
    <td align="center" width="200px">
      <div>
        <!-- <button pButton type="button" [routerLink]="['/estudantes/']">Início</button> -->
      </div>
  </td>
    <td>
      <router-outlet></router-outlet>
    </td>
  </tr>
  <tr height="10%;">
    <td colspan="2" align="center">Rodapé<br>Versão Web: {{versao_web}}<br>Versão Serviço: {{versao_service}}</td>
  </tr>
</table>